<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vSlide.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <vSlide.Properties.Settings>
            <setting name="nextLevelKey" serializeAs="String">
                <value>Shift Left</value>
            </setting>
            <setting name="prevLevelKey" serializeAs="String">
                <value>Control Left</value>
            </setting>
            <setting name="incrSliderKey" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="decrSliderKey" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="controlModNextLevelKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="controlModPrevLevelKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="controlModIncrSliderKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="controlModDecrSliderKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="shiftModNextLevelKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="shiftModPrevLevelKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="shiftModIncrSliderKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="shiftModDecrSliderKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="altModNextLevelKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="altModPrevLevelKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="altModIncrSliderKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="altModDecrSliderKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="keySetupRadioButton" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="levelKeysOnlyRadioButton" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="useHoldDownBothKeysChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pressTresholdHoldLevelLPNumericUpDown" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="tickIntervalHoldLevelLPNumericUpDown" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="pressTresholdHoldSliderLPNumericUpDown" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="tickIntervalHoldSliderLPNumericUpDown" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sliderDeltaHoldSliderLPNumericUpDown" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="pressTresholdLevelSystemBPNumericUpDown" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="tickIntervalLevelSystemBPNumericUpDown" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="tickIntervalSliderSystemBPNumericUpDown" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sliderDeltaSliderSystemBPNumericUpDown" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="tickIntervalSPNumericUpDown" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sliderDeltaSPNumericUpDown" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="sliderLevelsAbsolute" serializeAs="String">
                <value>0, 32767</value>
            </setting>
            <setting name="sliderLevelsRelative" serializeAs="String">
                <value>0;100</value>
            </setting>
        </vSlide.Properties.Settings>
    </userSettings>
</configuration>